<!-- inherit from base.html -->
{% extends 'base.html' %}

{% block title %}
    Database App
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column overflow-auto position-relative" id="container" >

        <div class="sub-container d-flex align-items-center  flex-column overflow-auto top-50 " id="sub-container">

                <h3>Todo App</h3>
                <!-- create tasks -->
                <form method= "POST" action="{%url 'home' %}">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-group me-2 mb-0">
                            {{ form.title }}
                        </div>
                        <input type="text" name="msg" class="form-control" placeholder="Enter the message" aria-label="Username" aria-describedby="basic-addon1">
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>




        </div>

    </div>
    {% endblock %}
